@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create a Quiz:";
}
@model Quiz
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <hr />
</div>
<article class="container">
    <div class="border-2 border-dark">
        @if (Model == null){
            <form method="post">
                <p class="form-label">Image:</p>
                <input class="form-control" type="image" value="" />
                <p class="form-label">Title:</p>
                <input class="form-control" type="text" value="" placeholder="Enter a title..." />
                <p class="form-label">Title:</p>
                <input class="form-control" type="text" value="" placeholder="Enter a description..." />
                <p class="form-label">Type:</p>
                <input class="form-control" type="text" value="" placeholder="Select a quiz type..." />
                <button type="submit" value="0">Next question -></button>
            </form>
        }
        else if (Model.Page == 0)
        {
            <form method="post">
                <p class="form-label">Image:</p>
                <input class="form-control" type="image" value="" />
                <p class="form-label">Title:</p>
                <input class="form-control" type="text" value="" placeholder="Enter a title..." />
                <p class="form-label">Title:</p>
                <input class="form-control" type="text" value="" placeholder="Enter a description..." />
                <p class="form-label">Type:</p>
                <input class="form-control" type="text" value="" placeholder="Select a quiz type..." />
                <button type="submit" value="0">Next question -></button>
            </form>
        }
    </div>
</article>