@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "All Quizzes";
}
@model List<Quiz>
<div class="text-center">
    <h1>@ViewData["Title"]:</h1>
    <hr />
</div>
<div class="container">
    <input class="form-control mr-sm-2" type="search" name="name" value="" placeholder="Search..." />
    <br />
</div>
<article class="container-fluid">
    @if (Model.Count != 0)
    {
        foreach (Quiz quiz in Model)
        {
            <div class="card bg-light-subtle">
                <h3>@quiz.Title</h3>
                <p>@quiz.Description</p>
                <a asp-controller="Quiz" asp-action="Quiz" asp-route-id="@quiz.Id" type="submit" class="stretched-link"></a>
            </div>
        }
    }
    else {
        <div class="text-center">
            <p class="text-danger">No quizzes found.</p>
        </div>
    }
</article>