@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Thomas' Quiz Creator</h1>
    <p>The best quiz creator in the universe!</p>
</div>
<article class="container">
    <h2>Featured Quizes:</h2>
    <div>

    </div>
</article>
